<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de Dispositivos</title>
</head>
<body>
<h1>Listado de Dispositivos</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dispositivo : ${listaDispositivos}">
        <td th:text="${dispositivo.id}"></td>
        <td th:text="${dispositivo.nombre}"></td>
        <td th:text="${dispositivo.descripcion}"></td>
        <td>
            <a th:if="${role == 'ADMIN'}" th:href="@{/dispositivos/edit/{id}(id=${dispositivo.id})}">Editar</a>
            <a th:if="${role == 'ADMIN'}" th:href="@{/dispositivos/delete/{id}(id=${dispositivo.id})}" onclick="return confirm('¿Estás seguro de que deseas eliminar este dispositivo?');">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:if="${role == 'ADMIN'}" th:href="@{/dispositivos/create}">Crear Nuevo Dispositivo</a>
</body>
</html>
